@using Orchard.Projections.ViewModels
@model Webionic.LinkList.ViewModels.LinkGroupTreeViewPartEditViewModel
@{
    var selectedQueryRecordId = -1;
}
<fieldset>
    @Html.LabelFor(m => m.QueryLayoutRecordId, T("For Query"))
    <select id="@Html.FieldIdFor(m => m.QueryLayoutRecordId)" name="@Html.FieldNameFor(m => m.QueryLayoutRecordId)">
        @foreach (QueryRecordEntry queryRecord in Model.QueryRecordEntries.OrderBy(x => x.Name))
        {
            <optgroup label="@queryRecord.Name">
                @Html.SelectOption(Model.QueryLayoutRecordId, queryRecord.Id, queryRecord.Name)
                @if (Model.QueryLayoutRecordId == queryRecord.Id)
                {
                    selectedQueryRecordId = queryRecord.Id;
                }
            </optgroup>
        }
    </select>
    @if (selectedQueryRecordId != -1)
    {
        @Html.ActionLink(T("Edit Query").Text, "Edit", new { area = "Orchard.Projections", id = selectedQueryRecordId }, new { })
    }
    <span class="hint">@T("The query to display.")</span>
</fieldset>